/* Estilos globais para os cards */
.card {
	background: #4ade80;
	color: #fff;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	font-weight: bold;
	flex: 1 1 100%; /* O card ocupa 100% da largura */
	max-width: 100%;
	height: calc(100vh - 80px); /* O card ocupa toda a altura disponível, considerando a Navbar */
}
